{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	
	<div>
		<h1>Bienvenue sur mon projet Happy</h1>

			<p>Nom : Hazza</p>
			<p>Prénom : Khaled</p>

			<p>Date et heure :
				{{ "now"|date("d/m/Y H:i", timezone="Europe/Paris") }}</p>
		</div>
	{% endblock %}
