{% extends "base.html.twig" %}

{% block title %}Error 404{% endblock %}

{% block body %}
<h1>Error 404!!!</h1>
<p>The page you are looking for could not be found.</p>
<a href="{{path('app_home')}}">Retour vers l'accueil</a>
{% endblock %}